<% if logged_in? %>
  <script>
  	window.currentUser = <%= raw render partial: "api/users/user", 
    formats: [:json], 
    handlers: [:jbuilder],
    locals: { user: current_user } %>
  </script>
<% end %>

<main id="root"></main>
