// Place all the styles related to the api/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../variables.scss";

#artist-bio-content {
    padding: 4px 16px 16px;

    p { margin-top: 12px; }

    .wiki-text {
        margin-bottom: 4px;
        color: $highDarkGray;

        a { color: $blue; }

        a:hover { text-decoration: underline; }
    }
}