// Place all the styles related to the api/lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-body {
    display: flex;
    padding: 0 32px 64px;
    max-width: 1200px;
    margin: auto;

    .left-body-div {
        margin-right: 32px;
        margin-top: 64px;
        flex: 2 2;

        .top-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user-info {
                display: flex;
                align-items: center;
    
                .profile-button {
                    min-width: 48px;
                    min-height: 48px;
                    width: 48px;
                    height: 48px;
                
                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
    
                .user-username {
                    margin-left: 8px;
                    font-size: 16px;
                    line-height: normal;
                    font-weight: 600;
                    transition: color .2s;
    
                    &:hover { color: $blue; }
                }
            }

            .list-date {
                color: $highDarkGray;
                line-height: normal;
            }
        }

        .list-title {
            display: flex;
            margin-top: 16px;
            align-items: center;

            .lock-icon {
                margin-left: 8px;
                width: 18px;
                height: 18px;
                color: $gray;

                path { color: $gray; }
            }
        }

        .list-description {
            margin-top: 8px;
            font-size: 16px;
            line-height: 1.5;
        }

        .list-item-grid {
            margin-top: 16px;
            display: grid;
            grid-template-columns: repeat(5,minmax(0, 1fr));
            column-gap: 16px;
            row-gap: 16px;

            .list-item {
                .artist-image-div, .album-cover-div {
                    position: relative;

                    .artist-image-link, .album-cover-link {
                        position: initial;
                        width: 100%;
                        height: 100%;
                        
                        * {
                            width: 100%;
                            height: 100%;
                            min-width: 100%;
                            vertical-align: bottom;
                        }

                        .link-border, .cover-border {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            box-shadow: 0 1px 0 rgba(228,230,234,0.4) inset,0 -1px 0 #e4e6ea66 inset,1px 0 0 #e4e6ea66 inset,-1px 0 0 #e4e6ea66 inset;
                            border-radius: 3px;
                            transition: box-shadow .25s;
                
                            &:hover {
                                box-shadow: 0 3px 0 $blue inset,0 -3px 0 $blue inset,3px 0 0 $blue inset,-3px 0 0 $blue inset;
                            }
                        }
                    }
            
                    .artist-image-link * {
                        border-radius: 1000px!important;
                    }

                    .album-cover-link {
                        img { border-radius: 4px; }
                        .cover-border { border-radius: 3px; }
                    }
                }

                .item-link {
                    display: block;
                    margin-top: 12px;
                    transition: color .25s;
                    font-size: 16px;
                    line-height: normal;
                    font-weight: 600;
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;

                    &:hover { color: $blue; }
                }

                .artist-link {
                    display: block;
                    margin-top: 4px;
                    text-align: center;
                    color: $highDarkGray;
                    font-size: 14px;
                    line-height: normal;
                    text-overflow: ellipsis;

                    &:hover { text-decoration: underline; }
                }
            }
        }
    }
}

.list-edit {
    padding: 0 32px 64px;
    max-width: 1200px;
    margin: auto;
    margin-top: 48px;

    .list-edit-flex { display: flex; }

    #list-back-link {
        margin-bottom: 16px;
        display: block;
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 32px;
        padding: 0px 16px;
        background-color: $lightGray;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: background-color .2s;
        
        p {
            font-size: 14px;
            line-height: 14px;
            font-weight: 600;
        }

        &::before {
            content: "";
            position: absolute;
            left: -12px;
            width: 0;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-right: 12px solid $lightGray;
            transition: border-right .2s;
        }

        &:hover {
            background-color: $darkLightGray;
            transition: background-color 0ms;
            animation: buttonLeft .3s cubic-bezier(.5,0,.51,.99);

            &::before {
                border-right: 12px solid $darkLightGray;
                transition: border-right 0ms;
            }
        }
    }

    .left-body-div {
        margin-right: 32px;
        margin-top: 16px;
        flex: 2 2;

        h4 {
            padding-bottom: 12px;
            pointer-events: none;
        }

        .empty-list-text {
            padding: 64px 32px;
            margin-top: 16px;
            color: $highDarkGray;
            text-align: center;
        }

        .list-container {
            display: flex;
            flex-direction: column;

            .item-container {
                margin-top: 16px;
                cursor: grab;
                
                .list-item {
                    &:hover, &:active { background-color: $lightGray; }
                    background-color: $darkGray;
                    border-radius: 4px;
                    padding: 16px;
                    transition: background-color .2s;
                    display: flex;
                    align-items: center;

                    .order-number {
                        margin-right: 16px;
                        width: 20px;
                        text-align: center;
                    }
        
                    .artist-image-div, .album-cover-div {
                        position: relative;
                        min-width: 60px;
                        min-height: 60px;
                        width: 60px;
                        height: 60px;
        
                        .artist-image-link, .album-cover-link {
                            position: initial;
                            width: 100%;
                            height: 100%;
                            
                            * {
                                width: 100%;
                                height: 100%;
                                min-width: 100%;
                                vertical-align: bottom;
                            }
        
                            .link-border, .cover-border {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                box-shadow: 0 1px 0 rgba(228,230,234,0.4) inset,0 -1px 0 #e4e6ea66 inset,1px 0 0 #e4e6ea66 inset,-1px 0 0 #e4e6ea66 inset;
                                border-radius: 3px;
                                transition: box-shadow .25s;
                            }
                        }
                
                        .artist-image-link * {
                            border-radius: 1000px!important;
                        }
        
                        .album-cover-link {
                            img { border-radius: 4px; }
                            .cover-border { border-radius: 3px; }
                        }
                    }
    
                    .item-flex {
                        width: 100%;
                        margin-left: 16px;
                        .item-link {
                            margin: 0;
                            text-align: left;
                        }
                    }
        
                    .item-link {
                        width: 100%;
                        margin-left: 16px;
                        font-size: 16px;
                        line-height: normal;
                        font-weight: 600;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
        
                    .artist-link {
                        color: $highDarkGray;
                        margin-top: 4px;
                        line-height: normal;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
    
                    svg, path {
                        color: $highDarkGray;
                        width: 24px;
                        height: 24px;
                        transition: color .2s;
                    }
    
                    .delete {
                        cursor: pointer;
                        width: 24px;
                        height: 24px;
                        &:hover {
                            color: $red;
                            path { color: $red; }
                        }
                    }
    
                    .reorder {
                        margin-left: 16px;
                        &:hover {
                            color: $blue;
                            path { color: $blue; }
                        }
                    }
                }
            }
        }
    }

    .right-body-div {
        flex: 1 1;
        margin-top: 16px;
        display: flex;
        flex-direction: column;

        > * { margin-top: 24px; }

        h4 { margin-top: 0; }
        
        button { margin-top: 16px; }

        .checkbox-flex {
            display: flex;
            justify-content: space-between;

            > * { flex: 1 1; }
        }

        .form-input {
            display: block;
            margin-top: 16px;
            // width: 100%;
        }

        #update-button:disabled {
            opacity: .5;
            pointer-events: none;
        }

        #delete-button {
            background-color: $red;

            &:hover { background-color: $redLight; }
        }

        .checkbox-div {
            input { display: none; }

            label {
                display: flex;
                align-items: center;
                margin-top: 8px;
                width: fit-content;
                cursor: pointer;

                .checkbox-span {
                    background-color: $darkGray;
                    border: 1px solid $darkLightGray;
                    height: 24px;
                    width: 24px;
                    border-radius: 4px;
                    transition: border .2s;
                    cursor: pointer;
                    position: relative;
                    
                    svg, path {
                        width: 20px;
                        height: 20px;
                        top: 2px;
                        left: 2px;
                        position: absolute;
                        opacity: 0;
                        color: white;
                    }

                    &:hover { border: 1px solid $gray; }
                }


                .checkbox-text {
                    color: $highDarkGray;
                    margin-left: 8px;
                    transition: color .2s;
                }
            }

            input:checked + label {
                .checkbox-span {
                    background-color: $green;
                    border: 1px solid $green;
                    transition: border 0ms;
                    
                    svg, path { opacity: 1; }
                }

                .checkbox-text { color: $offWhite; }
            }

            input:disabled + label { pointer-events: none; }
        }
    
        .option-menu {
            background-color: $darkGray;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
    
            .first-option {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
    
            .last-option {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                border-bottom: none;
            }
    
            button, a {
                padding: 16px;
                border-bottom: 1px solid $lightGray;
                transition: background-color .2s, color .2s;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
    
                &:hover {
                    background-color: $lightGray;
                    transition: color 0ms, background-color 0ms;
                    color: $blue;
    
                    svg, path {
                        color: $blue;
                        transition: color 0ms;
                    }
                }
    
                svg {
                    height: 16px;
                    width: 16px;
                    padding: 0 8px;
                }
    
                svg, path { transition: color .2s; }
            }
        }
    }
}

.list-body, .review-body {
    .right-body-div {
        flex: 1 1;
        margin-top: 64px;
    
        .signup-message {
            color: $darkGrayWhite;
            font-size: 16px;
            line-height: 24px;
            padding: 24px 32px;
            margin-bottom: 32px;
            background-color: $darkGray;
            border-radius: 8px;
    
            a, button {
                color: $offWhite;
                font-weight: 500;
                text-decoration: underline;
                transition: text-decoration-color .2s;
                text-decoration-color: #e4e6ea66;
                font-size: 16px;
                line-height: 24px;
    
                &:hover {
                    text-decoration-color: #e4e6eab3;
                    transition: text-decoration-color .13s;
                }
            }
        }
    
        .option-menu {
            background-color: $darkGray;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
    
            .first-option {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
    
            .last-option {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                border-bottom: none;
            }
    
            button, a {
                padding: 16px;
                border-bottom: 1px solid $lightGray;
                transition: background-color .2s, color .2s;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
    
                &:hover {
                    background-color: $lightGray;
                    transition: color 0ms, background-color 0ms;
                    color: $blue;
    
                    svg, path {
                        color: $blue;
                        transition: color 0ms;
                    }
                }
    
                svg {
                    height: 16px;
                    width: 16px;
                    padding: 0 8px;
                }
    
                svg, path { transition: color .2s; }
            }
    
        }
    }
}

.edit-list-modal {
    padding: 16px;

    p { color: $highDarkGray; }

    .button-div {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    button, a {
        height: 40px;
        padding: 0 24px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border-radius: 4px;
    }

    #no-button {
        margin-right: 16px;

        &:hover {
            background-color: $darkLightGray;
            transition: background-color 0ms;
        }
    }

    #delete-link {
        line-height: 40px;
        background-color: $red;

        &:hover {
            background-color: $redLight;
            transition: background-color 0ms;
        }
    }
}
