.music-header {
    background-color: $darkGray;
    border-bottom: 1px solid $lightGray;

    .header-content {
        position: relative;
        padding-bottom: 32px;
        z-index: 1;
        
        .background-div {
            z-index: -10;
            display: flex;
            justify-content: center;
            position: relative;
            height: 200px;
    
            .inner-background-div {
                position: absolute;
                height: 434px;
                width: 1200px;
                max-width: 100%;
    
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                }
    
                .small-background-image { image-rendering: pixelated; }
    
                .background-overlay {
                    position: absolute;
                    height: inherit;
                    width: inherit;
                    background-image: linear-gradient(90deg,$darkGray,rgba(24,26,28,.978938) 2%,rgba(24,26,28,.913325) 4%,rgba(24,26,28,.805633) 6%,rgba(24,26,28,.670197) 8%,rgba(24,26,28,.530396) 10%,rgba(24,26,28,.407353) 12%,rgba(24,26,28,.312253) 14%,rgba(24,26,28,.247561) 16%,rgba(24,26,28,.21129) 18%,rgba(24,26,28,.2) 20%,rgba(24,26,28,.2) 80%,rgba(24,26,28,.21129) 82%,rgba(24,26,28,.247561) 84%,rgba(24,26,28,.312253) 86%,rgba(24,26,28,.407353) 88%,rgba(24,26,28,.530396) 90%,rgba(24,26,28,.670197) 92%,rgba(24,26,28,.805633) 94%,rgba(24,26,28,.913325) 96%,rgba(24,26,28,.978938) 98%,$darkGray),linear-gradient(0deg,$darkGray,rgba(24,26,28,.973673) 6%,rgba(24,26,28,.891657) 12%,rgba(24,26,28,.757042) 18%,rgba(24,26,28,.587746) 24%,rgba(24,26,28,.412995) 30%,rgba(24,26,28,.259191) 36%,rgba(24,26,28,.140316) 42%,rgba(24,26,28,.059451) 48%,rgba(24,26,28,.014113) 54%,rgba(24,26,28,0) 60%);
                }
            }
        }
    
        .header-info {
            max-width: 1200px;
            margin: auto;
            padding: 64px 32px 0;
            display: flex;
            align-items: flex-end;

            .music-div {
                flex: 3 3;
                margin-right: 32px;
                display: flex;
                align-items: flex-end;

                img {
                    height: 300px;
                    width: 300px;
                    background-color: $lightGray;
                }

                .album-cover { border-radius: 4px; }

                .artist-photo-div {
                    position: relative;
                    width: 300px;
                    height: 300px;
                    * { border-radius: 1000px; }

                    #photo-border {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        box-shadow: 0 1px 0 $borderColor inset,0 -1px 0 $borderColor inset,1px 0 0 $borderColor inset,-1px 0 0 $borderColor inset;
                    }
                }

                .music-info {
                    margin-left: 24px;
                    margin-bottom: 16px;

                    .artist-bio-div {
                        margin-top: 8px;
                        overflow: hidden;
                        height: 100px;
                        width: 100%;
                        position: relative;
                        * { color: $highDarkGray; }

                        .artist-bio-fade {
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            height: 40px;
                            background: linear-gradient(transparent, $darkGray);
                        }

                        button {
                            margin-right: -36px;
                            margin-bottom: -12px;
                            padding: 12px 48px 12px 12px;
                            background: radial-gradient($darkGray, transparent);
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            transition: color 0ms;
                            font-size: 14px;
                            line-height: 20px;
                            color: $offWhite;
                        }

                        button:hover {
                            color: $blue;
                            transition: color .2s;
                        }
                    }

                    .album-details {
                        display: flex;
                        align-items: center;
                        margin-top: 8px;

                        * {
                            color: $highDarkGray;
                            margin-right: 12px;
                        }

                        .dot {
                            width: 6px;
                            height: 6px;
                            background-color: $highDarkGray;
                            border-radius: 1000px;
                        }
                    }

                    .artist-link {
                        display: flex;
                        align-items: center;
                        margin-top: 16px;

                        #artist-image-link {
                            height: 32px;
                            width: 32px;
                            position: relative;
                            * { border-radius: 1000px; }

                            img {
                                width: 100%;
                                height: 100%;
                            }

                            #link-border {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: inherit;
                                height: inherit;
                                box-shadow: 0 1px 0 $borderColor inset,0 -1px 0 $borderColor inset,1px 0 0 $borderColor inset,-1px 0 0 $borderColor inset;
                                transition: box-shadow .25s;
                            }

                            #link-border:hover {
                                box-shadow: 0 3px 0 $blue inset,0 -3px 0 $blue inset,3px 0 0 $blue inset,-3px 0 0 $blue inset;
                            }
                        }

                        #artist-text-link { margin-left: 8px; }

                        #artist-text-link:hover {
                            color: $blue;
                            transition: color .2s;
                        }
                    }
                }
            }

            .rating-div {
                flex: 2 2;
                margin-bottom: 16px;

                .rating-info {
                    display: flex;
                    align-items: center;

                    .info-div {
                        display: flex;
                        flex: 1 1;
                        
                        .inner-info-div {
                            display: flex;
                            flex: 1 1;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            p {
                                margin-top: 4px;
                                color: $highDarkGray;
                            }

                            .star-div {
                                display: flex;
                                align-items: center;
                                svg, path, span { color: $highDarkGray; }

                                svg {
                                    margin-right: 8px;
                                    width: 24px;
                                    height: 24px;
                                }

                                span {
                                    font-size: inherit;
                                    line-height: inherit;
                                    font-weight: normal;
                                }
                            }
                        }

                        .divider {
                            width: 1px;
                            background-color: $darkLightGray;
                            height: 80px;
                        }
                    }
                }

                button {
                    width: 100%;
                    margin-top: 16px;
                    height: 45px;
                    background-color: $blue;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: normal;
                    svg, path { color: white; }

                    svg {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                }

                button:hover { background-color: $blueLight; }
            }
        }
    }

    .header-tabs {
        display: flex;
        align-items: flex-start;
        max-width: 1200px;
        margin: auto;
        padding: 0 32px;

        .tab-div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            a {
                border-radius: 4px;
                transition: all .2s;
                margin: 4px;
                padding: 12px 24px;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
                color: $blue;
            }

            .inactive { color: $offWhite; }
    
            .inactive:hover { background-color: $offBlack; }
    
            .active {
                background-color: $blue;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }
    
            div {
                height: 4px;
                width: 100%;
            }
        }

    }
}

@keyframes arrowUp {
    0%{transform:translateY(0)}50%{transform:translateY(-2px)}to{transform:translateY(0)}
}

@keyframes arrowDown {
    0%{transform:translateY(0)}50%{transform:translateY(2px)}to{transform:translateY(0)}
}

@keyframes arrowRight {
    0%{transform:translateX(0)}50%{transform:translateX(2px)}to{transform:translateX(0)}
}

.album-body, .artist-body {
    max-width: 1200px;
    margin: auto;
    padding: 0 32px 64px;
    display: flex;

    .left-body-div {
        margin-right: 32px;
        flex: 2 2;

        .header-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            span {
                margin-right: 8px;
                font-size: 20px;
                font-weight: 600;
                line-height: normal;
            }
            
            svg {
                height: 24px;
                width: 24px;
            }
        }
        
        .header-button:hover {
            * {
                color: $blue;
                transition: color .2s;
            }

            .up-arrow { animation: arrowUp .3s cubic-bezier(.5,0,.51,.99); }
            .down-arrow { animation: arrowDown .3s cubic-bezier(.5,0,.51,.99); }
            .right-arrow { animation: arrowRight .3s cubic-bezier(.5,0,.51,.99); }
        }

        .tracklist {
            background-color: $darkGray;
            border-radius: 8px;
            padding: 8px;
            position: relative;

            .track-div {
                display: flex;
                align-items: center;
                flex: 1 1;
                height: 48px;
                border-radius: 4px;
                transition: background-color .2s;

                p { pointer-events: none; }

                .track-number {
                    width: 48px;
                    height: 48px;
                    text-align: center;
                    line-height: 48px;
                    color: $highDarkGray;
                }

                .track-title {
                    flex: 1 1;
                }

                .track-options-button {
                    margin: 0 8px;
                    width: 24px;
                    height: 24px;
                    opacity: 0;
                    transition: opacity .2s;
                    position: relative;

                    svg, path {
                        color: $gray;
                        transition: color .2s;
                    }

                    .text-popup { transform: translateX(-50%) translateY(-136%) translateY(-1px); }
                }

                .track-options-button:hover {
                    svg, path {
                        color: $offWhite;
                        transition: color 0ms;
                    }

                    .text-popup {
                        opacity: 1;
                        transition: opacity .3s;
                    }
                }

                .track-rating-button {
                    height: 100%;
                    margin: 0 16px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    svg, path { color: $highDarkGray; }

                    svg {
                        height: 16px;
                        width: 16px;
                        margin-right: 8px;
                    }

                    > span {
                        width: 56px;
                        text-align: right;

                        span { color: $highDarkGray; }
                    }
                }

                .track-rating-button:hover {
                    .text-popup {
                        z-index: 4;
                        opacity: 1;
                        transition: opacity .3s;
                    }
                }
            }

            .track-div:hover {
                background-color: $lightGray;
                transition: background-color 0ms;

                .track-options-button {
                    opacity: 1;
                    transition: opacity .3s;
                }
            }

            .expand-overlay {
                position: absolute;
                bottom: 0;
                height: 96px;
                background: linear-gradient(#181a1c00,$darkGray);
                width: calc(100% - 32px);
                border-bottom: 1px solid $darkGray;
            }

            .expand-overlay:hover {
                .text-popup {
                    opacity: 1;
                    transition: opacity .3s;
                }
            }
        }

        .text-popup {
            z-index: 3;
            width: max-content;
            position: absolute;
            opacity: 0;
            transition: opacity 0ms;
            border-radius: 8px;
            border: 1px solid $lightGray;
            line-height: normal;
            padding: 8px 21px;
            font-size: 13px;
            background-color: $darkGray;
            left: 50%;
            top: 0;
            transform: translateX(-50%) translateY(-100%) translateY(-1px);
        }
    }

    .right-body-div {
        flex: 1 1;

        .option-menu {
            margin-top: 32px;
            background-color: $darkGray;
            border-radius: 8px;
            display: flex;
            flex-direction: column;

            button, a {
                border-radius: 8px;
                padding: 16px;
                border-bottom: 1px solid $lightGray;
                transition: background-color .2s;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                transition: color .2s;
            }

            button:hover, a:hover {
                background-color: $lightGray;
                transition: background-color 0ms;
                color: $blue;
                transition: color 0ms;
            }

            a {
                border-bottom: none;
                text-align: center;
            }
        }

        .info-div {
            background-color: $darkGray;
            border-radius: 8px;

            .info-element {
                border-top: 1px solid #3d3e4080;
                padding: 16px;
                * { font-size: 15px; }

                h5 {
                    line-height: normal;
                    margin-bottom: 4px;
                }

                p { color: $highDarkGray; }

                a {
                    color: $blue;
                    text-decoration: underline;
                    text-decoration-color: #0c94ff33;
                    transition: text-decoration-color .2s;
                    line-height: normal;
                }

                a:hover {
                    text-decoration-color: $blue;
                    transition: text-decoration-color .13s;
                }
            }

            .first-element { border-top: none; }
        }
    }

    h4, .header-button {
        margin-top: 32px;
        padding-bottom: 12px;
    }

    h4 { pointer-events: none; }
}
