// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating-stars {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;

    .background-stars {
        display: flex;
        flex-direction: row;
        position: absolute;

        svg, path { color: $gray; }
    }

    .input-stars, .preset-stars {
        display: flex;
        align-items: center;

        .star-button, .star-div {
            opacity: 0;
            overflow: hidden;

            svg, path {
                color: $yellow;
            }
        }

        .opaque { opacity: 1; }
    }

    .input-stars:hover {
        .star-button {
            opacity: 1;

            &:hover ~ .star-button { opacity: 0; }
        }

        svg, path { color: $blue; }
    }
}

#review-form {
    padding: 32px;
    display: flex;
    align-items: flex-start;

    .image-div {
        position: relative;
        width: 150px;
        height: 150px;

        img {
            width: 100%;
            height: 100%;
        }

        .border {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 1px 0 $borderColor inset,0 -1px 0 $borderColor inset,1px 0 0 $borderColor inset,-1px 0 0 $borderColor inset;
        }
    }

    .artist-photo-div {
        * { border-radius: 1000px; }
    }

    .album-cover-div {
        * { border-radius: 4px; }
    }

    .form-content-div {
        margin-left: 24px;
        flex: 1 1;

        .title-div {
            display: flex;
            align-items: center;

            h3 {
                line-height: normal;
            }

            svg {
                margin-left: 8px;
                margin-top: 2px;
            }

            svg, path {
                color: $gray;
                width: 14px;
                height: 14px;
            }
        }

        .item-info {
            font-size: 16px;
            margin-top: 4px;
            color: $highDarkGray;
        }

        .rating-options-div {
            margin-top: 24px;
            display: flex;
            align-items: flex-start;
            > * { flex: 1 1; }

            .rating-div {
                display: inline-flex;
                flex-direction: column;

                .rating-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p { color: $highDarkGray; }
                }

                .rating-stars {
                    margin-top: 5px;
                    cursor: pointer;

                    .background-stars { height: 32px; }

                    svg, path {
                        width: 32px;
                        height: 32px;
                    }

                    .input-stars {
                        .star-button {
                            z-index: 11;
                            height: 32px;
                            width: 16px;

                            svg, path { z-index: 11; }
                        }

                        .right {
                            svg { margin-left: -16px; }
                        }
                    }
                }
            }

            .checkbox-div {
                input { display: none; }

                label {
                    display: flex;
                    align-items: center;
                    margin-top: 8px;
                    width: fit-content;
                    cursor: pointer;

                    .checkbox-span {
                        background-color: $darkGray;
                        border: 1px solid $darkLightGray;
                        height: 24px;
                        width: 24px;
                        border-radius: 4px;
                        transition: border .2s;
                        cursor: pointer;
                        position: relative;
                        
                        svg, path {
                            width: 20px;
                            height: 20px;
                            top: 2px;
                            left: 2px;
                            position: absolute;
                            opacity: 0;
                            color: white;
                        }

                        &:hover { border: 1px solid $gray; }
                    }


                    .checkbox-text {
                        color: $highDarkGray;
                        margin-left: 8px;
                        transition: color .2s;
                    }
                }

                input:checked + label {
                    .checkbox-span {
                        background-color: $green;
                        border: 1px solid $green;
                        transition: border 0ms;
                        
                        svg, path { opacity: 1; }
                    }

                    .checkbox-text { color: $offWhite; }
                }

                input:disabled + label { pointer-events: none; }
            }
        }

        > h5 { margin-top: 24px; }

        #title-input, #body-input {
            margin-top: 8px;
            width: 100%;
            box-sizing: border-box;
            padding: 12px;
        }

        #title-input::placeholder, #body-input::placeholder {
            opacity: 1;
            color: $highDarkGray;
        }

        #body-input {
            margin-top: 16px;
            height: 160px;
        }

        .submitButtons {
            display: flex;
            align-items: center;
            margin-top: 16px;

            .submit { margin: 0; }
            
            .submit:disabled {
                opacity: .5;
                pointer-events: none;
            }

            .delete {
                margin-right: 16px;
                padding: 0 24px;
                background-color: $red;
                width: max-content;
                white-space: nowrap;

                &:hover { background-color: $redLight; }
            }
        }

    }
}

.artist-image-link {
    position: relative;
    * { border-radius: 1000px; }

    img {
        width: 100%;
        height: 100%;
    }

    .link-border {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        box-shadow: 0 1px 0 $borderColor inset,0 -1px 0 $borderColor inset,1px 0 0 $borderColor inset,-1px 0 0 $borderColor inset;
        transition: box-shadow .25s;

        &:hover {
            box-shadow: 0 3px 0 $blue inset,0 -3px 0 $blue inset,3px 0 0 $blue inset,-3px 0 0 $blue inset;
        }
    }
}

#review-div {
    .background-overlay {
        background-image: linear-gradient(90deg,$offBlack,rgba(14,15,17,.978938) 2%,rgba(14,15,17,.913325) 4%,rgba(14,15,17,.805633) 6%,rgba(14,15,17,.670197) 8%,rgba(14,15,17,.530396) 10%,rgba(14,15,17,.407353) 12%,rgba(14,15,17,.312253) 14%,rgba(14,15,17,.247561) 16%,rgba(14,15,17,.21129) 18%,rgba(14,15,17,.2) 20%,rgba(14,15,17,.2) 80%,rgba(14,15,17,.21129) 82%,rgba(14,15,17,.247561) 84%,rgba(14,15,17,.312253) 86%,rgba(14,15,17,.407353) 88%,rgba(14,15,17,.530396) 90%,rgba(14,15,17,.670197) 92%,rgba(14,15,17,.805633) 94%,rgba(14,15,17,.913325) 96%,rgba(14,15,17,.978938) 98%,$offBlack),linear-gradient(0deg,$offBlack,rgba(14,15,17,.973673) 6%,rgba(14,15,17,.891657) 12%,rgba(14,15,17,.757042) 18%,rgba(14,15,17,.587746) 24%,rgba(14,15,17,.412995) 30%,rgba(14,15,17,.259191) 36%,rgba(14,15,17,.140316) 42%,rgba(14,15,17,.059451) 48%,rgba(14,15,17,.014113) 54%,rgba(14,15,17,0) 60%);
    }

    #review-content {
        max-width: 1200px;
        margin: auto;
        padding: 0 32px;
    
    
        #item-info {
            padding-top: 64px;
            display: flex;
            align-items: flex-end;

            .artist-image-link {
                height: 220px;
                width: 220px;
            }

            #info-text {
                margin-left: 24px;
                margin-bottom: 16px;

                a {
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 700;
                    transition: color .2s;

                    &:hover { color: $blue; }
                }

                p {
                    color: $highDarkGray;
                    margin-top: 12px;
                }

                .info-text-line {
                    margin-top: 12px;
                    display: flex;
                    align-items: center;

                    p { margin: 0; }

                    a {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: normal;
                    }

                    .dot {
                        margin: 0 12px;
                        background-color: $highDarkGray;
                        width: 6px;
                        height: 6px;
                        border-radius: 1000px;
                    }

                }

                .artist-link {
                    display: flex;
                    align-items: center;
                    margin-top: 16px;

                    .artist-image-link {
                        height: 32px;
                        width: 32px;
                    }

                    a {
                        font-size: 16px;
                        margin-left: 8px;
                        line-height: 20px;
                        font-weight: normal;
                    }
                }
            }

            .album-cover-div {
                position: relative;
                * {
                    width: 220px;
                    height: 220px;
                    border-radius: 4px;
                    vertical-align: bottom;
                }
        
                .cover-border {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 1px 0 $borderColor inset,0 -1px 0 $borderColor inset,1px 0 0 $borderColor inset,-1px 0 0 $borderColor inset;
                    transition: box-shadow .25s;

                    &:hover {
                        box-shadow: 0 3px 0 #009fff inset, 0 -3px 0 #009fff inset, 3px 0 0 #009fff inset, -3px 0 0 #009fff inset;
                    }
                }
            }
        }

        .review-body {
            display: flex;
            padding-bottom: 64px;

            .left-body-div {
                margin-right: 32px;
                flex: 2 2;

                .review-flex-div {
                    margin-top: 64px;
                    display: flex;
                    align-items: flex-start;

                    .profile-button {
                        min-width: 60px;
                        min-height: 60px;
                        width: 60px;
                        height: 60px;
                        margin-right: 24px;
                    
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .review-inner-content {
                        .review-info {
                            flex: 1 1;
    
                            .user-info {
                                color: $highDarkGray;
                                line-height: 38px;
                                font-size: 16px;
                                
                                a {
                                    transition: color .2s;
                                    font-weight: 600;
    
                                    &:hover { color: $blue; }
                                }
                            }
    
                            .rating-icons {
                                margin-top: 4px;
                                display: flex;
                                align-items: center;
    
                                .rating-stars {
                                    .background-stars { height: 24px; }
                
                                    svg, path {
                                        width: 24px;
                                        height: 24px;
                                    }
                
                                    .preset-stars {
                                        .star-div {
                                            z-index: 1;
                                            height: 24px;
                                            width: 12px;
                
                                            svg, path { z-index: 1; }
                                        }
                
                                        .right {
                                            svg { margin-left: -12px; }
                                        }
                                    }
                                }
                                
                                .lock-icon {
                                    margin-left: 8px;
                                    width: 20px;
                                    height: 20px;
                                    color: $gray;
    
                                    path { color: $gray; }
                                }
                            }
    
                            .review-date {
                                color: $highDarkGray;
                                margin-top: 12px;
                            }
                        }

                        h4 { margin-top: 16px; }

                        > p {
                            margin-right: 16px;
                            margin-top: 12px;
                            font-size: 16px;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
}

.music-reviews-body {
    max-width: 1200px;
    margin: auto;
    padding: 0 32px 64px;
    display: flex;

    h4 {
        margin-top: 32px;
        margin-bottom: 12px;
        pointer-events: none;
        line-height: normal;
    }

    .left-body-div {
        margin-right: 32px;
        flex: 2 2;

        .review-list {
            border-radius: 8px;
            background-color: $darkGray;

            .first-review {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            .last-review {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                border-bottom: none!important;
            }

            .review-div {
                position: relative;
                padding: 16px;
                border-bottom: 1px solid $lightGray;
                transition: background-color .2s;

                &:hover {
                    background-color: $lightGray;
                    transition: background-color 0ms;
                }

                * {
                    position: relative;
                    pointer-events: none;
                }

                .link-overlay {
                    position: absolute;
                    pointer-events: all;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }

                .review-item-info {
                    display: flex;
                    align-items: center;

                    .album-cover-div {
                        position: relative;
                        
                        * {
                            width: 88px;
                            height: 88px;
                            border-radius: 4px;
                            vertical-align: bottom;
                        }
                
                        .cover-border {
                            pointer-events: all;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            box-shadow: 0 1px 0 $borderColor inset,0 -1px 0 $borderColor inset,1px 0 0 $borderColor inset,-1px 0 0 $borderColor inset;
                            transition: box-shadow .25s;
        
                            &:hover {
                                box-shadow: 0 3px 0 #009fff inset, 0 -3px 0 #009fff inset, 3px 0 0 #009fff inset, -3px 0 0 #009fff inset;
                            }
                        }
                    }

                    .artist-image-link {
                        width: 88px;
                        height: 88px;
                
                        .link-border {
                            position: absolute;
                            pointer-events: all;
                        }
                    }

                    .review-info-text {
                        margin-left: 16px;

                        .album-link-div {
                            display: flex;
                            align-items: center;

                            svg {
                                margin-left: 6px;
                                margin-top: 2px;
                            }

                            svg, path {
                                color: $gray;
                                width: 14px;
                                height: 14px;
                            }
                        }

                        .item-link {
                            pointer-events: all;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: normal;
                            transition: color .2s;

                            &:hover { color: $blue; }
                        }

                        p {
                            margin-top: 4px;
                            color: $highDarkGray;

                            a {
                                pointer-events: all;
                                color: $highDarkGray;

                                &:hover { text-decoration: underline; }
                            }
                        }
                    }
                }

                .review-info {
                    display: flex;
                    align-items: center;

                    .profile-button {
                        pointer-events: all;
                        min-width: 88px;
                        min-height: 88px;
                        width: 88px;
                        height: 88px;
                    
                        svg {
                            width: 44px;
                            height: 44px;
                        }
                    }

                    .review-info-text {
                        margin-left: 16px;

                        h5 {
                            line-height: normal;
                            color: $highDarkGray;

                            a {
                                pointer-events: all;
                                color: $offWhite;
                                transition: color .2s;
                                pointer-events: all;

                                &:hover { color: $blue; }
                            }
                        }

                        p {
                            margin-top: 8px;
                            color: $highDarkGray;
                        }
                    }
                }

                .review-title { margin-top: 14px; }

                .rating-stars {
                    margin-top: 10px;

                    .background-stars { height: 20px; }

                    svg, path {
                        width: 20px;
                        height: 20px;
                    }

                    .preset-stars {
                        position: absolute;

                        .star-div {
                            z-index: 1;
                            height: 20px;
                            width: 10px;

                            svg, path { z-index: 1; }
                        }

                        .right {
                            svg { margin-left: -10px; }
                        }
                    }
                }

                #rating-stars-top { margin-top: 14px; }

                .review-text-div { margin-top: 14px; }

                #review-index-text-div { margin-top: 12px; }

                .reviewer-info {
                    margin-top: 12px;
                    display: flex;
                    align-items: center;

                    .profile-button {
                        pointer-events: all;
                        min-width: 32px;
                        min-height: 32px;
                        width: 32px;
                        height: 32px;
                    
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .reviewer-username {
                        margin-left: 8px;
                        pointer-events: all;
                        font-size: 16px;
                        line-height: normal;
                        font-weight: 600;

                        &:hover { color: $blue; }
                    }
                }
            }
        }

        .rating-grid {
            display: grid;
            grid-template-columns: repeat(7,minmax(0, 1fr));
            column-gap: 16px;
            row-gap: 16px;

            .rating-link {
                flex: 1 1;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .profile-button {
                    min-width: 100%;
                    padding-top: 50%;
                    padding-bottom: 50%;
                    width: 100%;
                    height: 0;
                
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }

                h6 {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    line-height: normal;
                    margin-top: 8px;
                    text-align: center;
                    transition: color .2s;
                }

                &:hover {
                    h6 { color: $blue; }
                }

                .rating-stars {
                    margin-top: 4px;

                    .background-stars { height: 14px; }

                    svg, path {
                        width: 14px;
                        height: 14px;
                    }

                    .preset-stars {
                        margin-top: -2px;

                        .star-div {
                            z-index: 1;
                            height: 14px;
                            width: 7px;

                            svg, path { z-index: 1; }
                        }

                        .right {
                            svg { margin-left: -7px; }
                        }
                    }
                }
            }
        }
    }

    .right-body-div {
        flex: 1 1;

        .filter-div {
            position: sticky;
            top: 56px;
        }
    }
}

.no-reviews {
    color: $highDarkGray;
    padding: 64px 32px;
    text-align: center;
}
