// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zeropacity { opacity: 0; }

.user-header {
    background-color: $darkGray;
    border-bottom: 1px solid $lightGray;

    .header-content {
        position: relative;
        padding-bottom: 32px;
        z-index: 1;
    
        .header-info {
            max-width: 1200px;
            margin: auto;
            padding: 64px 32px 0;
            display: flex;

            .header-flex {
                display: flex;
                width: 100%;

                .user-div {
                    display: flex;
                    align-items: flex-start;
                    flex: 3 3;
                    margin-right: 32px;

                    .profile-pic {
                        width: 120px;
                        height: 120px;
                        min-height: 120px;
                        min-width: 120px;
                        border-radius: 1000px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $lightGray;
                        box-shadow: 0 1px 0 $borderColor inset,0 -1px 0 $borderColor inset,1px 0 0 $borderColor inset,-1px 0 0 $borderColor inset;
                        color: $darkLightGray;
                        * { color: $darkLightGray; }
    
                        svg {
                            width: 50%;
                            height: 50%;
                        }
                    }

                    .user-info {
                        margin-left: 16px;
                        
                        h5 { color: $highDarkGray; }

                        h1 {
                            font-size: 40px;
                            line-height: 50px;
                            text-align: left;
                        }

                        p {
                            color: $highDarkGray;
                            margin-top: 4px;
                            font-size: 16px;
                        }
                    }
                }

                .review-numbers-div {
                    flex: 1 1;
    
                    .rating-info {
                        display: flex;
                        align-items: center;
    
                        .info-link {
                            display: flex;
                            flex: 1 1;
                            
                            .inner-info-div {
                                display: flex;
                                flex: 1 1;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                h3 {
                                    transition: color .2s;
                                }
    
                                p {
                                    margin-top: 4px;
                                    color: $highDarkGray;
                                }
                            }
    
                            .divider {
                                width: 1px;
                                background-color: $darkLightGray;
                                height: 80px;
                            }

                            // &:hover {
                            //     h3 { color: $blue; }
                            // }
                        }
                    }
    
                    button {
                        display: block;
                        width: 100%;
                        margin-top: 16px;
                        height: 45px;
                        background-color: $lightGray;
                        border-radius: 4px;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 45px;
                        text-align: center;
                        transition: background-color .2s;
    
                        &:hover {
                            background-color: $darkLightGray;
                            transition: background-color 0ms;
                        }
                    }
                }
            }
        }
    }

    .header-tabs {
        display: flex;
        align-items: flex-start;
        max-width: 1200px;
        margin: auto;
        padding: 0 32px;

        .tab-div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            a {
                border-radius: 4px;
                transition: all .2s;
                margin: 4px;
                padding: 12px 24px;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
                color: $blue;
            }

            .inactive {
                color: $offWhite;
    
                &:hover { background-color: $offBlack; }
            }
    
            .active {
                background-color: $blue;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }
    
            div {
                height: 4px;
                width: 100%;
            }
        }

    }
}

.user-rating-icons {
    display: flex;
    align-items: center;
    
    .lock-icon {
        margin-top: 10px;
        margin-left: 6px;
        width: 16px;
        height: 16px;
        color: $gray;

        path { color: $gray; }
    }
}

.user-reviews-profile-link {
    pointer-events: all;
    transition: color .2s;
    &:hover { color: $blue; }
}

.user-collection-tab-bar {
    margin-top: 32px;
    display: flex;
    align-items: stretch;
    background-color: $darkGray;
    border-radius: 8px;

    .user-info {
        padding: 16px;
        display: flex;
        align-items: center;

        .profile-button {
            pointer-events: all;
            min-width: 32px;
            min-height: 32px;
            width: 32px;
            height: 32px;
        
            svg {
                width: 16px;
                height: 16px;
            }
        }

        .user-username {
            margin-left: 8px;
            pointer-events: all;
            font-size: 16px;
            line-height: normal;
            font-weight: 600;

            &:hover { color: $blue; }
        }
    }

    .tab-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover { background-color: $lightGray; }

        h6 {
            transition: color .2s;
            padding: 0 16px;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: $offWhite;
        }

        .active {
            background-color: $blue;
        }
        
        div {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            height: 4px;
            width: 100%;
        }
    }

    .active {
        &:hover { background-color: transparent; }

        h6 { color: $blue; }

        .active-div { background-color: $blue; }
    }
}

.pin-tabs {
    display: flex;
    align-items: center;

    button {
        flex: 1 1;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        border-bottom: 1px solid $darkLightGray;
        transition: background-color .2s;
        padding-top: 8px;
        padding-bottom: 9px;

        &:hover {
            background-color: $darkLightGray050;
            transition: background-color 0ms;
        }
    }

    .active {
        padding-bottom: 8px;
        border-bottom: 2px solid $blue;
    }
}

.cr-boundary { border-radius: 1000px; }

.cr-viewport { border: none !important; }
