@import "../variables.scss";

header { height: 56px; }

#navbar-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkGray;
    color: white;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid $lightGray;
    z-index: 2;
}

#navbar {
    width: 1200px;
    padding: 0 16px;
    height: 38px;
    display: flex;
    align-items: center;
}

#logo {
    background-image: url(https://musicboard.app/v8/static/media/social-icon.2c49d9ed.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 38px;
    width: 38px;
    border-radius: 1000px;
}

.nav-button-div {
    display: flex;
    align-items: center;
    flex: 1 1;

    button, a {
        font-size: 14px;
        font-weight: 600;
        padding: 0 24px;
        margin-left: 4px;
        height: 38px;
        border-radius: 100px;
        line-height: 38px;
        transition: background-color .2s;

        &:hover { background-color: $lightGray; }
    }

    #more-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 38px;
        height: 38px;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

#session-buttons {
    display: flex;
    height: 100%;
    text-align: center;

    button {
        height: 100%;
        padding: 0 24px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 14px;
    }

    #login {
        color: $offWhite;
        background-color: $lightGray;
        margin-right: 8px;

        &:hover { background-color: $darkLightGray; }
    }
    
    #signup {
        color: white;
        background-color: $blue;
    
        &:hover { background-color: $blueLight; }
    }
}
