@import "../variables.scss";

body.modal-open {
    overflow: hidden;
}

#modal-overlay {
    background-color: #0009;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    overflow-y: auto;
}

#modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 80px;
    min-height: calc(100vh - 120px);
}

@keyframes modal-popup {
    0% { transform:scale(1.2) }
    to { transform:scale(1) }
}

#modal-window {
    background-color: $lightGray;
    border-radius: 8px;
    width: 100vw;
    max-width: 600px;
    animation: modal-popup 50ms ease-out forwards;
}

#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid $darkLightGray;

    > h5 {
        color: $offWhite;
        font-weight: 700;
    }
}

#left-placeholder {
    width: 38px;
    height: 38px;
}

#close-button {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;

    svg {
        width: 20px;
        height: 20px;
    }
}

#close-button:hover { background-color: $darkLightGray; }

#session-form-content { padding: 32px; }

.form-input-div {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

.form-section { margin-top: 16px; }

.form-text {
    color: $offWhite;
    font-weight: 500;
}

.form-input {
    outline: none;
    resize: none;
    border-radius: 4px;
    margin-top: 4px;
    font-size: 14px;
    background-color: $darkGray;
    border: 1px solid $darkLightGray;
    color: $offWhite;
    padding: 12px;
}

.form-input:focus {
    background-color: $lightGray;
    border-color: $blue;
}

#session-form {
    display: flex;
    flex-direction: column;
}

.submit {
    width: 100%;
    height: 45px;
    margin-top: 32px;
    background-color: $blue;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.submit:hover { background-color: $blueLight; }

#demo-submit { background-color: $darkLightGray; }
#demo-submit:hover { background-color: #505254; }

#create-account-button {
    margin-top: 24px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #e4e6ea40;
    text-decoration-style: solid;
}

#create-account-button:hover { text-decoration-color: #e4e6eab3; }

@keyframes error-popup {
    0% { height:0 }
    to { height:20px }
}

#error-div {
    display: flex;
    align-items: center;
    animation: error-popup .25s ease-out 0ms 1 forwards;
    * { color: #ff453a; }

    svg {
        width: 18px;
        height: 18px;
    }

    li {
        margin-left: 8px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
}
