@import "../variables.scss";
$borderColor: #e4e6ea40;

#profileDiv {
    position: relative;
}

.profileButton {
    margin: 0;
    border: none;
    cursor: pointer;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightGray;
    box-shadow: 0 1px 0 $borderColor inset,0 -1px 0 $borderColor inset,1px 0 0 $borderColor inset,-1px 0 0 $borderColor inset;
    transition: box-shadow .25s;
    color: $darkLightGray;
}

.profileButton:hover {
    box-shadow: 0 3px 0 $blue inset,0 -3px 0 $blue inset,3px 0 0 $blue inset,-3px 0 0 $blue inset;
}

#navbarProfileButton {
    width: 38px;
    height: 38px;

    svg {
        width: 19px;
        height: 19px;
    }
}

#dropdownProfileButton {
    width: 64px;
    height: 64px;

    svg {
        width: 32px;
        height: 32px;
    }
}

#profileDropdown {
    position: absolute;
    top: 42px;
    right: 0px;
    background-color: $darkGray;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid $lightGray;
    width: max-content;
}

.dropdownLink {
    display: flex;
    padding: 12px;
    align-items: center;
    color: $offWhite;
    border-radius: 4px;

    svg {
        width: 16px;
        height: 16px;
    }

    > p {
        margin-left: 12px;
    }
}

.dropdownLink:hover {
    background-color: $lightGray;
}

#userDropdownLink {
    display: flex;

}

#profileTextDiv {
    margin: 0 12px;
    
    h5 { color: $offWhite; }

    p {
        color: $highDarkGray;
        margin-top: 4px;
    }
}

.dropdownDivider {
    margin: 8px 0;
    border-bottom: 1px solid $lightGray;
}
