@import "../variables.scss";

#profile-div {
    position: relative;
}

.profile-button {
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightGray;
    box-shadow: 0 1px 0 $borderColor inset,0 -1px 0 $borderColor inset,1px 0 0 $borderColor inset,-1px 0 0 $borderColor inset;
    transition: box-shadow .25s;
    color: $darkLightGray;
    * { color: $darkLightGray; }
}

.profile-button:hover {
    box-shadow: 0 3px 0 $blue inset,0 -3px 0 $blue inset,3px 0 0 $blue inset,-3px 0 0 $blue inset;
}

#navbar-profile-button {
    width: 38px;
    height: 38px;

    svg {
        width: 19px;
        height: 19px;
    }
}

#dropdown-profile-button {
    width: 64px;
    height: 64px;

    svg {
        width: 32px;
        height: 32px;
    }
}

#profile-dropdown {
    position: absolute;
    top: 42px;
    right: 0px;
    background-color: $darkGray;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid $lightGray;
    width: max-content;
}

.dropdown-element {
    display: flex;
    padding: 12px;
    align-items: center;
    color: $offWhite;
    border-radius: 4px;

    > p, span {
        margin-left: 12px;
    }
}

.dropdown-element:hover {
    background-color: $lightGray;
}

.dropdown-link {
    svg {
        width: 20px;
        height: 20px;
    }
}

.dropdown-button {
    width: 100%;

    svg {
        width: 16px;
        height: 16px;
    }
}

#profile-text-div {
    margin: 0 12px;
    
    h5 { color: $offWhite; }

    p {
        color: $highDarkGray;
        margin-top: 4px;
    }
}

.dropdown-divider {
    margin: 8px 0;
    border-bottom: 1px solid $lightGray;
}

#option-popup {
    position: absolute;
    left: 50%;
    background-color: $darkGray;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid $lightGray;
    width: max-content;
    z-index: 3;
}

.popup-below {
    bottom: 0;
    transform: translateX(-50%) translateY(106%) translateY(1px);
}

.popup-above {
    top: 0;
    transform: translateX(-50%) translateY(-106%) translateY(-1px);
}

.hidden { visibility: hidden; }

.track-options-div { position: relative; }
