$darkLightGray: #3d3e40;
$darkLightGray050: #3d3e4080;
$lightGray: #242527;
$offWhite: #e4e6ea;
$darkGray: #181a1c;
$offBlack: #0e0f11;
$blue: #009fff;
$blueLight: #5BB2FF;
$highDarkGray: #A0A1A4;
$borderColor: #e4e6ea40;
$yellow: #feb701;
$gray: #7D7E80;
$darkGrayWhite: #C8CACE;
$green: #30D158;
$red: #FF453A;
$redLight: #FF5B45;
$yellowLight: #F9C43E;
